<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}

<body>

<main id="content">

	<header class="page-header">
		<h1>{{ .Title }}</h1>
	</header>

	<div class="page-content">
		{{ .Content }}

		<ul>
		{{ range .Pages }}
			<li>
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				{{ if .Date }}
				<time datetime="{{ .Date.Format "02-01-2006" }}">
					({{ .Date.Format "02-01-2006" }})
				</time>
				{{ end }}
			</li>
		{{ end }}
		</ul>
	</div>

</main>

{{ partial "footer-simple.html" . }}

</body>
</html>
