<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}

<body>

	<main id="content">

		<header class="page-header">
			<div class="entry-header-meta">
				<address>
					<a rel="author" class="url fn n" href="/">
						{{ .Site.Params.author | default .Site.Title }}
					</a>
				</address>
			</div>
			<h1>{{ .Title }}</h1>
		</header>

		<div class="page-content">
			{{ .Content }}

			{{ if eq .Title "Guestbook" }}
			{{ partial "giscus.html" . }}
			{{ end }}
		</div>

	</main>

	{{ partial "footer.html" (dict "showBadges" false "showSource" false "context" .) }}

</body>

</html>