body {
  color: #222;
  line-height: 1.5;
  margin: 1em auto;
  max-width: 40em;
  padding: 0 1em;
}

@media only screen and (min-width: 40.063em) {
  body {
    font-size: 112.5%;
  }
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

a {
  border-bottom: 1px solid #bbb;
  color: #111;
  text-decoration: none;
}

ul {
  list-style: circle;
}

ul,
ol {
  margin-left: 0;
  padding-left: 0;
}

li {
  margin-bottom: 0.3em;
  margin-left: 1em;
}

blockquote {
  border-left: 1px solid #ccc;
  margin: .7rem 0;
  padding-left: 1rem;
}

figure>a,
a img {
  border-bottom: none;
}

img {
  height: auto;
  margin: .7rem auto;
  max-width: 100%;
}

figcaption {
  font-style: italic;
}

hr {
  border: none;
  display: block;
  text-align: center;
  margin: 1.5em 0;
  height: 1.5em;
  line-height: 1.5em;
}

hr::after {
  content: "***";
  color: #333;
  letter-spacing: 0.5em;
}

/* HR di halaman utama tetap garis */
body>hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1.5em 0;
  height: 0;
}

body>hr::after {
  content: none;
}

.entry-content hr {
  border: none;
  display: block;
  text-align: center;
  margin: 1.5em 0;
  height: 1.5em;
  line-height: 1.5em;
}

.entry-content hr::after {
  content: "***";
  color: #333;
  letter-spacing: 0.5em;
}

header,
footer,
.center {
  text-align: center;
}

footer {
  margin-top: 2em;
}

.badges {
  text-align: center;
  margin: 2em 0;
}

.badges h2 {
  margin-bottom: 0.5em;
}

.badges p {
  margin-bottom: 1em;
}

.badge-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  margin: 1em 0;
}

.badge-grid a {
  border-bottom: none;
}

.badge-grid img {
  width: 88px;
  height: 31px;
  margin: 0;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

code {
  background: #f4f4f4;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  font-family: monospace;
}
