<section class="badges">
  <div class="badge-grid">
    <a href="mailto:hello@riyonaryono.net">
      <img src="/images/badges/email.gif" alt="Email Me">
    </a>
    <a href="#">
      <img src="/images/badges/guestbook-button.gif" alt="www">
    </a>
  </div>

  <div class="badge-grid">
      <img src="/images/badges/fedora.gif" alt="Fedora Linux">
      <img src="/images/badges/acab.gif" alt="ACAB">
      <img src="/images/badges/anarchynow.gif" alt="Anarchy Now">
      <img src="/images/badges/cassette.gif" alt="Cassette">
      <img src="/images/badges/microsoft.png" alt="I Hate Microsoft">
      <img src="/images/badges/besteyes2.gif" alt="Best Eyes">
      <img src="/images/badges/nocookie.gif" alt="No Cookie">
      <img src="/images/badges/speech.gif" alt="Speech">
      <img src="/images/badges/startpage_button.gif" alt="Startpage">
      <img src="/images/badges/gnu-linux.gif" alt="GNU Linux">
      <img src="/images/badges/www2.gif" alt="www">
      <img src="/images/badges/stationradio.gif" alt="Station Radio">
      <img src="/images/badges/nofuckingthanks.gif" alt="No Fucking Thanks">
      <img src="/images/badges/hotbanner88x31.gif" alt="hotbanner88x31">
  </div>
</section>
