<section class="badges">
  <div class="badge-grid">
    <a href="mailto:hello@riyonaryono.net">
      <img src="/images/badges/email.gif" alt="Email Me">
    </a>
    <a href="/guestbook">
      <img src="/images/badges/guestbook-button.gif" alt="www">
    </a>
  </div>

  <div class="badge-grid">
    <a href="https://www.fedoraproject.org/">
      <img src="/images/badges/fedora.gif" alt="Fedora Linux">
    </a>

    <a href="https://en.wikipedia.org/wiki/ACAB">
      <img src="/images/badges/acab.gif" alt="ACAB">
    </a>

    <a
      href="https://theanarchistlibrary.org/library/donald-rooum-and-freedom-press-ed-what-is-anarchism-an-introduction">
      <img src="/images/badges/anarchynow.gif" alt="Anarchy Now">
    </a>

    <a href="https://youtu.be/7DFlyDYAt1c?si=7rApbwlUybsD7DCp">
      <img src="/images/badges/noclick.gif" alt="noclick">
    </a>

    <a href="https://stallman.org/microsoft.html">
      <img src="/images/badges/microsoft.png" alt="I Hate Microsoft">
    </a>

    <img src="/images/badges/besteyes2.gif" alt="Best Eyes">

    <a href="https://plato.stanford.edu/entries/freedom-speech/">
      <img src="/images/badges/speech.gif" alt="Speech">
    </a>

    <a href="https://defundthepolice.org/">
      <img src="/images/badges/defund_badge.gif" alt="defund_badge.gif">
    </a>
    <a href="https://www.riyonaryono.net/blog/index.xml">
      <img src="/images/badges/rss.gif" alt="rss">
    </a>
    <a href="https://neovim.io/">
      <img src="/images/badges/neovim.png" alt="neovim">
    </a>

    <a href="https://www.kernel.org/">
      <img src="/images/badges/gnu-linux.gif" alt="GNU Linux">
    </a>

    <a href="https://en.wikipedia.org/wiki/The_Creation_of_Adam">
      <img src="/images/badges/fingerofgod.gif" alt="Finger of God">
    </a>

    <a href="https://dilarangoding.github.io/">
      <img src="/images/badges/button-devils.gif" alt="button-devils">
    </a>

    <a href="https://youtu.be/dQw4w9WgXcQ?si=kC6LL__RHMvUCWNE">
      <img src="/images/badges/clickhere_red.gif" alt="clickhere_red">
    </a>
  </div>
</section>