<section class="badges">
  <div class="badge-grid">
    <a href="mailto:hello@riyonaryono.net">
      <img src="/images/badges/email.gif" alt="Email Me">
    </a>
    <a href="/guestbook">
      <img src="/images/badges/guestbook-button.gif" alt="www">
    </a>
  </div>

  <div class="badge-grid">
      <a href="https://www.fedoraproject.org/">
        <img src="/images/badges/fedora.gif" alt="Fedora Linux">
      </a>

      <a href="https://en.wikipedia.org/wiki/ACAB">
        <img src="/images/badges/acab.gif" alt="ACAB">
      </a>

      <a href="https://theanarchistlibrary.org/library/donald-rooum-and-freedom-press-ed-what-is-anarchism-an-introduction">
        <img src="/images/badges/anarchynow.gif" alt="Anarchy Now">
      </a>

      <img src="/images/badges/cassette.gif" alt="Cassette">

      <a href="https://stallman.org/microsoft.html">
        <img src="/images/badges/microsoft.png" alt="I Hate Microsoft">
      </a>

      <img src="/images/badges/besteyes2.gif" alt="Best Eyes">
      <img src="/images/badges/speech.gif" alt="Speech">

      <a href="https://defundthepolice.org/">
        <img src="/images/badges/defund_badge.gif" alt="defund_badge.gif">
      </a>
      <a href="https://www.startpage.com/">
        <img src="/images/badges/startpage_button.gif" alt="Startpage">
      </a>
      <a href="https://www.w3.org/People/Berners-Lee/">
        <img src="/images/badges/www2.gif" alt="www">
      </a>

      <a href="https://www.gnu.org/gnu/linux-and-gnu.en.html">
        <img src="/images/badges/gnu-linux.gif" alt="GNU Linux">
      </a>

      <img src="/images/badges/stationradio.gif" alt="Station Radio">
      <img src="/images/badges/nofuckingthanks.gif" alt="No Fucking Thanks">
      <img src="/images/badges/hotbanner88x31.gif" alt="hotbanner88x31">
  </div>
</section>
