<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="referrer" content="no-referrer" />
  <title>
    {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title
    }}{{ end }}
  </title>
  {{ $style := resources.Get "css/style.css" | resources.Minify |
  resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  {{ $pocketgrid := resources.Get "css/pocketgrid.css" | resources.Minify |
  resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $pocketgrid.RelPermalink }}" />
  {{ $js := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" defer></script>
</head>
